# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/www
/logs

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# office temp files
~$*.docx
~$*.xlsx

/logs
/.idea
/run
*.swp
/logs/sumi-server/egg-agent.log
/logs/sumi-server/egg-web.log
/logs/sumi-server/sumi-server-web.log
/logs/sumi-server/*.log
logs
